@keyframes colorAnimation{
    0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}









.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header{
    width: 100%;
    min-height: 75px;
    height: 75px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.icon-1{
width: 100px;
height: 100px;
background-color: white;
animation-name: colorAnimation;
animation-duration: 4s;
animation-iteration-count: infinite;

}


.table{
    min-height: 50px;
    width: 100%;
    height: 50px;
   
    
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

}
.main{
    display: flex;
    width: 100%;
    flex: 1;
}
 .aside{
    width: 100px;
    min-width: 100px;
    height: 100%;
    
}
 .body{
   flex: 1;
   height: 100%;
   min-width: 0;

}

body{
    margin: 0px;
}

.item{
    border-style: solid;
   border-width: 1px;
    border-color: rgb(155, 152, 152);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    
}

.box-1{
    width: 200px;
    height: 75px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box-2{
    width: 200px;
    height: 75px;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    width: 125px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(236, 223, 104);
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Home{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-decoration-line: none;
}